<?xml version="1.0" ?>
<model>
    <name>petsitter_world</name>
    <version>1.0</version>
    <sdf version="1.7">model.sdf</sdf>
    <author>
        <name>Ivan</name>
        <email>ivilvil@epsg.upv.es</email>
    </author>
    <description>
    Ivan's World with ROS symbol
    </description>
</model>
