body {
    background: #FBF8F1;
    font-family: 'Secular One';
    font-size: 18px;
    color: #000;
}

.btn {
    background: #54BAB9;
    border-radius: 25px;
    border: none;
}

.btn:hover {
    background: #306d6d;
}

/* HEADER -------------------------------- */

.header {
    background: #292929;
}

.header a {
    text-decoration: none;
}

.logo {
    width: 150px;
    color: #fff;
    font-family: 'Sansita Swashed';
}

.header-link {
    background: none;
    border: none;
}

.header-link:hover {
    color: #54BAB9;
    background: none;
}

/* CONTENIDO ----------------------------- */

.full-screen {
    background: #fff;
    height: 78.8vh;
}

.full-screen .r-col {
    background: rgba(84, 186, 185,0.2);
    height: 78.8vh;
}

.full-screen .col-8 .lu-row {
    height: 32vh;
}

.full-screen .col-8 .ld-row {
    height: 46.8vh;
}

.full-screen .col-4 .r-row {
    height: 39.4vh;
}

#btn_dis {
    width: 80px;
    height: 80px;
    background: #c04345;
    border: none;
    border-radius: 25px;
}

#btn_dis:hover {
    background: #9f4041;
}

#btn_con {
    width: 80px;
    height: 80px;
    background: #54BA89;
    border: none;
    border-radius: 25px;
}

#btn_con:hover {
    background: #348d62;
}

#btn_dis img,#btn_con img {
    width: 50px;
}

.route {
    width: 300px;
}


.arrow {
    width: 50px;
    height: 50px;
    background: #54BAB9;
    border-radius: 10px;
}

.arrow img {
    width: 25px;
}

.sep {
    width: 25px;
    height: 50px;
    margin: -15px;
}

.btn-stop {
    width: 200px;
}

.forward {
    transform: rotate(-90deg);
}

.backward {
    transform: rotate(90deg);
}

.left {
    transform: rotate(-180deg);
}

#streaming {
    height: 32vh;
}

#streaming #video {
    width:300px;
    height: 150px;
    background: #ccc;
    border-radius: 10px;
    margin-top: 20px;
}

#foto #last-photo {
    width:300px;
    height: 150px;
    background: #ccc;
    border-radius: 10px;
}

.btn-photo {
    width: 300px;
    margin-top: 20px;
}

.progress-bar {
    background-color: #306d6d;
}

#manual { 
    height: 46.8vh;
    padding: 20px;
}

/* FOOTER -------------------------------- */

footer {
    padding: 10px;
    height: 80px;
}

.social-media .sm-icons {
    width: 25%;
}

.social-media a img {
    width: 40px; 
}

.upv a img {
    width: 180px;
}