body {
    background: #FBF8F1;
    font-family: 'Secular One';
    font-size: 18px;
    color: #000;
}

/* HEADER -------------------------------- */

.header {
    background: #292929;
}

.header a {
    text-decoration: none;
}

.logo {
    width: 150px;
    color: #fff;
    font-family: 'Sansita Swashed';
}

/* CONTENIDO LOGIN ----------------------------- */

.lat-top {
    height: 50vh;
}

.lat-bottom {
    height: 20vh;
}

.lat-top img {
    width: 40%;
    transform: rotate(-30deg);
}

.lat-bottom img {
    width: 40%;
    transform: rotate(30deg);
}

.content {
    padding: 20px;
}

h1 {
    margin-top: 10%;
}

form {
    height: 70vh;
    margin-top: -10%;
}

form .form-group {
    width: 80%;
}

.container-fluid input {
    background: rgba(0,0,0,0);
    border: none;
    border-bottom: 4px solid #54BAB9;
}

.login-container {
    width: 100%;
}

.message-box {
    color: #AA0000;
    font-size: 14px;
}

.login-btn {
    background: #54BAB9;
    color: #fff;
    width: 80%;
    border: none;
    border-radius: 25px;
    font-size: 22px;
    margin-top: 15px;
}

.login-btn:hover {
    background: #306d6d;
    color: #FBF8F1;
}

.register {
    color: #54BAB9;
}

.register:hover {
    color: #306d6d;
}

/* FOOTER -------------------------------- */

footer {
    padding: 10px;
}

.social-media .sm-icons {
    width: 25%;
}

.social-media a img {
    width: 40px; 
}

.upv a img {
    width: 180px;
}