body {
    background: #FBF8F1;
    font-family: 'Secular One';
    font-size: 18px;
    color: #000;
}

.btn {
    border-radius: 25px;
}

/* HEADER -------------------------------- */

.header {
    background: #292929;
}

.header a {
    text-decoration: none;
}

.logo {
    width: 150px;
    color: #fff;
    font-family: 'Sansita Swashed';
}

.header-link {
    background: none;
    border: none;
}

.header-link:hover {
    color: #54BAB9;
    background: none;
}

.btn-login {
    background: #54BAB9;
}

.btn-login:hover {
    background: #306d6d;
    color: #fff;
}

@media only screen and (min-width: 1000px) {
    .btn-login {
        margin-left: 20px;
    }
}

/* PRINCIPAL ----------------------------- */

.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../imgs/comida-perro.jpg");
    background-size: cover;
    height: 92vh;
}

.texto-encabezado .display-4 {
    margin-top: 4rem;
}

.display-4 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.texto-encabezado {
    color: #fff;
}

.btn-contact {
    background: #54BAB9;
    border: none;
    font-size: 22px;
    width: 30%;
    margin-top: 2.5%;
    min-width: 150px;
}

.btn-contact:hover {
    background: #306d6d;
}

.flecha-bajar a {
    position: absolute;
    bottom: 20px;
    display: inline-block;
    animation: flecha-animada 2s ease-in-out infinite;
}

.flecha-bajar a img {
    width: 50%;
}

@keyframes flecha-animada {
    from {
        transform: translateY(0);
    }
    50% {
        transform: translateY(6px);
    }
    to {
        transform: translateY(0);
    }
}

/* SERVICIOS ------------------------ */

.services {
    padding: 20px;
    background: #fff;
}

.services .row {
    margin-top: 2.5%;
    padding: 20px;
}

.service {
    margin-bottom: 50px;
}

.service img {
    margin-bottom: 20px;
    min-width: 50px;
}

@media only screen and (max-width: 700px) {
    .services .row {
        flex-direction: column;
        align-items: center;
    }

    .service p {
        min-width: 250px;
    }
}

/* SOBRE NOSOTROS ------------------------ */

.about-us{
    background: #DDCFB8;
}

.row.heading h2 {
    color: #000;
    text-align: center;
    padding-bottom: 20px;
}

ul{
  margin:0;
  padding:0;
  list-style:none;
}
.heading.heading-icon {
    display: block;
}
.padding-lg {
	display: block;
	padding-top: 60px;
	padding-bottom: 60px;
}
.practice-area.padding-lg {
    padding-bottom: 55px;
    padding-top: 55px;
}
.practice-area .inner{ 
     border: 1px solid #999999; 
	 text-align:center; 
	 margin-bottom:28px; 
	 padding:40px 25px;
}
.about-us .cnt-block:hover {
    box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
    border: 0;
}
.practice-area .inner h3{ 
    color:#3c3c3c; 
	font-size:24px; 
	font-weight:500;
	font-family: 'Poppins', sans-serif;
	padding: 10px 0;
}
.practice-area .inner p{ 
    font-size:14px; 
	line-height:22px; 
	font-weight:400;
}
.practice-area .inner img{
	display:inline-block;
}

.about-us .cnt-block{ 
   float:left; 
   width:100%; 
   background:#fff; 
   padding:20px 20px; 
   text-align:center; 
   border:2px solid #d5d5d5;
   margin: 0 0 28px;
}
.about-us .cnt-block figure{
   border-radius:100%; 
   display:inline-block;
   margin-bottom: 15px;
}
.about-us .cnt-block img{ 
   width:148px; 
   height:148px; 
   border-radius:100%; 
}
.about-us .cnt-block h3{ 
   color:#2a2a2a; 
   font-size:20px; 
   font-weight:500; 
   padding:6px 0;
   text-transform:uppercase;
}
.about-us .cnt-block h3 a{
  text-decoration:none;
	color:#2a2a2a;
}

.about-us .cnt-block p{ 
   color:#2a2a2a; 
   font-size:13px; 
   line-height:20px; 
   font-weight:400;
}
.about-us .cnt-block .follow-us{
	margin:20px 0 0;
}
.about-us .cnt-block .follow-us li{ 
    display:inline-block; 
	width:auto; 
	margin:0 5px;
}
.about-us .cnt-block .follow-us li .fa{ 
   font-size:24px; 
   color:#767676;
}
.about-us .cnt-block .follow-us li .fa:hover{ 
   color: #306d6d;
}

/* CONTACTANOS ------------------------ */

.contact-us {
    padding: 20px;
}

.contacts {
    width: 80%;
    margin-left: 15%;
    margin-top: 2.5%;
    padding: 20px;
}

.contact {
    margin-bottom: 2.5%;
}

.contact-title {
    color: #54BAB9;
}

@media only screen and (max-width: 1000px) {
    .contact img {
        max-width: 40px;
    }
    
    .contact h4 {
        font-size: 16px;
    }
}

/* FOOTER -------------------------------- */

footer {
    padding: 10px;
}

.social-media .sm-icons {
    width: 25%;
}

.social-media a img {
    width: 40px; 
}

.upv a img {
    width: 180px;
}
