body {
    background: #FBF8F1;
    font-family: 'Secular One';
    font-size: 18px;
    color: #000;
    min-width: 1000px;
}

.btn {
    background: #54BAB9;
    border-radius: 25px;
    border: none;
}

.btn:hover {
    background: #306d6d;
}

/* HEADER -------------------------------- */

.header {
    background: #292929;
    min-width: 1000px;
}

.header a {
    text-decoration: none;
}

.logo {
    width: 150px;
    color: #fff;
    font-family: 'Sansita Swashed';
}

.header-link {
    background: none;
    border: none;
}

.header-link:hover {
    color: #54BAB9;
    background: none;
}

.header-link.active {
    background: none;
    color: #54BAB9;
}

/* CONTENIDO ----------------------------- */

.full-screen {
    background: #fff;
    height: 79vh;
}

.full-screen .r-col {
    background: rgba(84, 186, 185,0.2);
    height: 79vh;
}

/* ---- streaming ---- */

#streaming {
    height: 32vh;
}

#streaming #video {
    width:300px;
    height: 150px;
    background: #ccc;
    border-radius: 10px;
}

#btn-video {
    width: 300px;
}

#btn-map {
    margin: 1rem;
    width: 400px;
}

.encender {
    background: #54BA89;

}

.encender:hover {
    background: #348d62;
}

.encender:focus {
    background: #54BA89;
}

.apagar {
    background: #c04345;
}

.apagar:hover {
    background: #9f4041;
}

.apagar:focus {
    background: #c04345;
}

/* ----- control manual ----- */

#manual {
    margin-top: 50px;
}

.arrow {
    width: 50px;
    height: 50px;
    background: #54BAB9;
    border-radius: 10px;
}

.arrow img {
    width: 25px;
}

.sep {
    width: 25px;
    height: 50px;
    margin: -15px;
}

.btn-stop {
    width: 160px;
}

.forward {
    transform: rotate(-90deg);
}

.backward {
    transform: rotate(90deg);
}

.left {
    transform: rotate(-180deg);
}

/* FOOTER -------------------------------- */

footer {
    padding: 10px;
    height: 80px;
    min-width: 1000px;
}

.social-media .sm-icons {
    width: 25%;
}

.social-media a img {
    width: 40px; 
}

.upv a img {
    width: 180px;
}